*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #000430;
    --secondaryBackgroung:#171c48;
    --text:#fff;
    --teal:#24feee;
    --purple:#828dff;
}
body{
    background-color:var(--background);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 120px;
    max-width: 500px;
    margin: 120px auto 0 auto;
    height: 80vh;               /* fixed height for scroll area */
    overflow: hidden;   
  
}

.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;

}
.details{
    width: 100%;
}
#progress{
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}
#progressBar{
    width: 100px;
    height: 10px;
    background-color: var(--secondaryBackgroung);
    border-radius: 5px;
    margin-top: 20px;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
}
form{
margin-top: 60px;
width: 100%;
display: flex;
gap: 10px;
}
input{
    flex: 1;
    padding: 16px;
    background: var(--secondaryBackgroung);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
button{
   padding: 20px;
   height: 60px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--purple);
   color: var(--text);
   font-size: 30px;
   font-weight: bold;
   outline: none;
}


.taskItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondaryBackgroung);
  padding: 10px;
  border-radius: 10px;
    
 
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;

  
    flex: 1;
    overflow-y: auto;
    padding-right: 5px;
}


#task-list::-webkit-scrollbar {
  width: 6px;
}
#task-list::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 4px;
}


.taskItem img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}
.icons img:hover {
  transform: scale(1.1);
}
.task{
    display: flex;
    align-items: center;
    gap: 10px;
}


.task input{
    width: 20px;
    height: 20px;
}
.task.completed p {
  text-decoration: line-through;   /* line ke through text */
  color: var(--teal);              /* teal color */
  transition: all 0.3s ease;       /* smooth animation */
}


input[type="time"] {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-left: 10px;
}



